# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# IDE
.vscode/

# Testing
.pytest_cache/

# Ruff
.ruff_cache/

# MyPy
.mypy_cache/

# macOS
.DS_Store

# Logs
*.log